
/**************************** CONTACT **************************************/


html{
  position: relative;
  #close-recherche{
    position: absolute;
    top: 25px;
    right: 25px;
    font-weight: 300;
    color: $greyy;
    font-size: 35px;
    transform: rotate(45deg);
  }
}

// .page-template-contact{
//   background-color: #fff!important;
// }

.contact-main{
  @media (min-width: 769px){
    margin-top: 15vh!important;
  }
  @media(max-width: 768px){
    margin-top: 0!important;
  }
  .entry-title{
    margin-bottom: 10vh;
    font-size: 35px!important;
    line-height: 44px!important;
    @media(max-width: 768px){
      margin-bottom: 3vh;
    }
  }
  .wpcf7{
    display: flex;
    justify-content: center;

    .wpcf7-form{
      @media (min-width: 769px){
        width: 35%;
      }
      @media (max-width: 768px){
        margin-bottom: 10vh;
      }

      p label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        font-size: 10px;
        font-weight: 400;
        line-height: 37px;
        text-transform: uppercase;
        .wpcf7-form-control-wrap{
          width: 80%;
          input{
            width: 100%;
          }
        }
      }
      input, textarea{
        font-family: "Caslon";
        font-size: 14px;
        font-weight: 400;
        border-radius: 0!important;
        background-color: $global;
        outline: none;
        box-shadow: none!important;
        outline-offset: none!important;
      }

      // Sortir l'ombre sur les input sur IOS
      input[type="text"],
      input[type="email"],
      input[type="password"],
      textarea {
        -webkit-appearance: none;
      }
      textarea{
        line-height: 16px;
      }
      input, input:focus, input:visited, textarea, textarea:focus, textarea:visited{
        outline: none!important;
      }
      .send_c{
        font-size: 10px;
        font-style: italic;
        line-height: 16px;
        span.wpcf7-list-item{
          margin: 0;
          display: flex;
        }
        .wpcf7-list-item-label{
          margin-left: 5px;
          color: #626262;
        }
      }
      span.wpcf7-not-valid-tip{
        position: absolute;
        right: -135px;
        top: 0;
        text-transform: initial;
        @media (max-width: 768px){
          right: 0;
          top: 25px;
        }
      }
      .final{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        input[type="submit"]{
          border: none;
          background: none;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0;
          cursor: pointer;

        }
        .ajax-loader{
          display: none;
        }
      }
      div.wpcf7-response-output{
        font-family: "Caslon";
        font-size: 16px;
        font-style: italic;
        line-height: 18px;
        background-color: $global;
      }
    }
  }
}


div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-mail-sent-ok{
  border: none!important;
}


  div.wpcf7-validation-errors{
      color: $global!important;
}



div.wpcf7-mail-sent-ok{
  height: 95vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex!important;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $global!important;
  padding-bottom: 15vh;
  padding-left: 40%;
  padding-right: 40%;
  @media (max-width: 768px){
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 0;
  }
}


input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.contact-main .wpcf7 input[type=checkbox] {
  -border-radius: 0px;
  height: 12px;
  width: 12px;
  border: 0.5px solid #626262;
  cursor: pointer;
}

.contact-main .wpcf7 input[type="checkbox"]:checked {
  background: #626262;
  margin:0px;
  padding: 1px;
  position: relative;
}

span.wpcf7-not-valid-tip{
  color: crimson ;
  font-style: italic;
}

@-moz-document url-prefix() {
  .contact-main .wpcf7 .wpcf7-form .final{
    margin-top: 5px;
  }
  }
