@font-face {
  font-family: 'Caslon';
  src: url("../fonts/ACaslonPro-Regular.otf");
}

@font-face {
  font-family: 'Caslon';
  font-style: italic;
  src: url("../fonts/ACaslonPro-Italic.otf");
}

@font-face {
  font-family: 'Caslon';
  font-weight: bold;
  font-style: italic;
  src: url("../ACaslonPro-BoldItalic.otf");
}

@font-face {
  font-family: 'Caslon';
  font-weight: bold;
  src: url("../fonts/ACaslonPro-Bold.otf");
}

@font-face {
  font-family: 'Caslon';
  font-weight: 600;
  src: url("../fonts/ACaslonPro-Semibold.otf");
}

@font-face {
  font-family: 'Caslon';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/ACaslonPro-SemiboldItalic.otf");
}
