

/*********************************FOOTER*******************************************/


footer{

  .voir-calendrier{
    position: relative;
    margin-top: 0!important;
    height: 35px;
    display: flex;
    align-items: center;

.global-bg{
      background-color: $global;
    }


    .reserver {
      overflow: hidden;
      display: inline-block;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: clip;
      font-size: 12px;
      font-weight: bold;
      margin-right: 20px;
      margin-top: 1px;
    }

    .fleche{
      height: 12px;
      position: absolute;
      right: 50%;
      transition: right 0.2s linear;
      transition-delay: 0.2s;
    }
    .reserver .mask {
      position: absolute;
      transition: all 0.3s linear;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }

  .voir-calendrier:hover .mask{
    right: 100%;
  }

  .voir-calendrier:hover .fleche{
    right: 0;
    transition: right 0.2s linear;
  }
}


.home-footer{
  width: 80%;
  padding: 0 50px;
}

.article-footer{
  width: 100%;
  padding: 0 50px;

}

.partie-evenements{
  border-top: 0.5px solid $line;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h4{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .chapeau{
    font-style: italic;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .voir-calendrier{
    display: flex;
  }
}

.footer-home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid $line;
  height: 50px;
  .maison-bio{
    font-family: 'Caslon 540';
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1.43px;
  }

  .menu-menu-footer-container{
    width: 50%;
  }
  #footer-menu{
    display: flex;
    // justify-content: space-around;
    align-items: center;
    li{
      font-size: 12px;
      margin: 0 3%;
    }
    .menu-item-245{
      margin: 0 3% 0 2px;
    }

    .menu-item-54{
      margin: 0 2px 0 3%;
    }
  }
  .biocoop-footer{
    display: flex;
    align-items: center;
    p{
      font-style: italic;
      font-size: 8px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 768px){
  .home-footer{
    width: 100%;
    padding: 0 30px!important;
  }
  .article-footer{
    width: 100%;
    padding: 0 30px!important;
  }
  .partie-evenements{
    display: none;
  }
  .footer-home{
    justify-content: center;
    padding: 75px 0;
    .menu-menu-footer-container, .maison-bio{
      display: none;
    }
    .biocoop-footer{
      flex-direction: column;
      p{
        margin-bottom: 10px;
        font-size: 14px;
      }
      img{
        height: 35px;
      }
    }
  }
}


.single{
  .article-footer{
    background-color: $back;
    .global-bg{
    background-color: $back!important;
  }
  }
}





