

/******************************** 1/2 BANDEAU DE DROITE *****************************/

.bandeau-droite{
  background-color: $beige;
  height: 100%;
  .event-bloc{
    height: calc(100% / 3);
    width: 70%;
    margin: 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 0.25px solid $line;
    .link-title{
      text-align: center;
      h4{
        text-transform: uppercase;
        line-height: 20px;
        font-size: 16px;
        span{
          text-transform: lowercase;
          font-style: italic;
        }
      }
      h5{
        text-transform: uppercase;
        line-height: 25px;
        font-size: 12px;
      }
      h6{
        font-style: italic;
        line-height: 25px;
        font-size: 12px;
      }
    }
    .reservation{
      display: flex;
    // margin-top: 0;
    // height: 50px;
    // display: flex;
    // align-items: center;

  }

}

.reserver {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.reserver .mask {
  position: absolute;
  transition: all 0.3s linear;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}



.bandeau-bg{
  background-color: $beige;
}

.reservation:hover .mask {
  right: 100%;
}

.reservation:hover .fleche{
  right: 0;
  transition: right 0.2s linear!important;
}

.reservation{
  position: relative;
  margin-top: 0!important;
  height: 35px;
  display: flex;
  align-items: center;
}

.reserver{
//   transform: translateX(100%);
//   width: 0%;
//   visibility: hidden;
overflow: hidden;
white-space: nowrap;
text-overflow: clip;
font-size: 12px;
font-weight: bold;
margin-right: 20px;
margin-top: 1px;
}

.fleche{
  height: 12px;
  position: absolute;
  right: 50%;
  transition: right 0.2s linear!important;
  transition-delay: 0.2s!important;
}

}

@media (min-width: 1800px){

  body .bandeau-droite{
    .event-bloc{
      .link-title{
        h6, h5{
          line-height: 40px;
          font-size: 14px;
        }
        h4{
          line-height: 30px;
          font-size: 20px;
        }
      }
    }
      .reserver{
    font-size: 16px;
  }
  .fleche{
    height: 18px;
    margin-top: -2px;
  }
  }


}

// .reservation:hover .reserver{
  // animation-duration: 10s;
  // animation-name: slidein;
  // margin-left: 0%;
  // width: 100%;
  // transition: all 0.5s linear;
// }

// .voir-calendrier:hover .reserver{
//  // margin-left: 0%;
//  width: 100%;
//  visibility: visible;
//  transform: translateX(0%);
//  transition: all 0.5s linear;
//  white-space: nowrap;
//  text-overflow: clip;
//  overflow: hidden;

// }
// .voir-calendrier:hover .fleche{
//   transition: all 1s linear;
// }



// @keyframes slidein {
//   from {
//     margin-left: 50%;
//     width: 0%;
//   }
//   10%{
//     margin-left: 0%;
//     width: 100%;
//   }

//   to {
//     margin-left: 0%;
//     width: 100%;
//   }
// }

// .reserver{
//   animation-duration: 0.5s;
//   animation-name: slideout;
// }

// @keyframes slideout {
//   from {
//     margin-left: 0%;
//     width: 100%;
//   }

//   to {
//     margin-left: 40%;
//     width: 0%;
//   }
// }


.reserver{
//   transform: translateX(100%);
//   width: 0%;
//   visibility: hidden;
overflow: hidden;
white-space: nowrap;
text-overflow: clip;
font-size: 12px;
font-weight: bold;
margin-right: 20px;
margin-top: 1px;
}

.fleche{
  height: 12px;
  // position: absolute;
  // right: 50%;
  // transition: right 0.2s linear;
  // transition-delay: 0.2s;
}

// Bandeau de droite end




/******************************* 2/2 ARTICLES SUR LA HOME ******************************/
.home-main{
  padding-top: 2vh;
  padding-bottom: 5vh;
  @media (min-width: 769px){
    width: 72%;
  }
  // .home-articles img{
  //   width: 100%!important;
  // }

  .home-articles img:hover{
    opacity: 0.9!important;
    // transition: opacity 0.4s linear!important;
  }

  @media (min-width: 769px){

    .home-articles{
    // width: calc(80% - 15px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0;
    .post{
      margin: 0;
      .entry-header{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .infos-article{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
      .entry-title{
        text-transform: none;
      }
      .entry-category a{
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 700;
        letter-spacing: 0.9px;
      }
      .entry-date, .article-date{
        font-size: 11px;
        font-style: italic;
      }
      .entry-excerpt, .entry-excerpt-une{
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        font-family: "Caslon 540";
      }
    }


    .a-la-une{
      width: 45%;
      .entry-header{
        width: 100%;
      }
      .post{
        height: 100%;
        display: flex;
        align-items: stretch;
              .entry-thumbnail{ /*container*/
                width: 100%;
    img{/*image dans le container*/
      object-fit: cover;
      width: 100%;
    }
  }

  .bloc-title{
          // margin-top: 35px;
          margin-bottom: 40px;
        }

      }

      .entry-title{
        font-size: 50px;
        font-weight: 400;
        line-height: 50px;
        text-align: center;
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
      }
      .entry-date{
        margin-top: 35px;
      }
      .entry-category{
        margin-top: 20px;
      }
      .entry-excerpt-une{
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
        font-family: "Caslon 540";
      }
      .entry-excerpt{
        display: none;
      }
      .entry-category, .entry-excerpt-une, .entry-date{
        text-align: center;
      }
      .article-date{
        display: none;
      }
      hr{
        margin-right: 15px;
        margin-left: 15px;
        // height: 0.5px;
      }

    }

    .quatre-articles{
      width: 55%;
      display: flex;
      flex-wrap: wrap;
      .post{
        width: 50%;
        .entry-title{
          font-size: 26px;
          font-weight: 400;
          line-height: 28px;
          margin-top: 15px;
          margin-bottom: 15px;
          text-align: left;
        }
        .entry-excerpt{
          // text-align: justify;
        }
        .entry-excerpt-une{
          display: none;
        }
        .entry-date{
          display: none;
        }
        .category-date{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 15px;
        }
        hr{
          display: none;
        }
      }
      .post:nth-child(1), .post:nth-child(4){
        .entry-thumbnail{ /*container*/
          width: 100%;
          height: 0;
          padding-top: 100%;
          position: relative;
          overflow: hidden;
          margin-bottom: 5px;
    img{/*image dans le container*/
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}
.post:nth-child(3), .post:nth-child(4){
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  margin-top: -10%;
}

// @media (min-width: 1800px){
//   .post:nth-child(3){
//     margin-top: -12%!important;
//   }

// }



}

}

.sequence-1{
  .a-la-une{
    padding-right: 20px;
  }
  .quatre-articles{
    .post:nth-child(1), .post:nth-child(3){
      padding-right: 10px;
    }
    .post:nth-child(2), .post:nth-child(4){
      padding-left: 10px;
    }
    .post:nth-child(2) .entry-thumbnail img{
      object-fit: cover;
    }
  }
}

.sequence-2{
  .a-la-une{
    padding-left: 20px;
  }
  .quatre-articles{
    .post:nth-child(1), .post:nth-child(3){
      padding-right: 10px;
    }
    .post:nth-child(2), .post:nth-child(4){
      padding-left: 10px;
    }
    .post:nth-child(2) .entry-thumbnail img{
      object-fit: cover;
    }
  }
}


}



@media (max-width: 768px){
  .home-articles{
    .category-date{
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 9px;
      font-weight: 700;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      text-align: center;
      .article-date{
        display: none;
      }
    }
    .bloc-title{
      display: flex;
      justify-content: center!important;
    }
    .entry-title{
      width: 80%;
      text-align: center;
      font-size: 26px;
      font-weight: 400;
      line-height: 28px;
      text-transform: none;
      margin: 0;
    }
    .entry-date, .entry-excerpt-une, hr{
      display: none;
    }
    .entry-excerpt{
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      font-family: "Caslon 540";
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;
    }
  }
}
}


@media (min-width: 1800px){
  .home-main{
    width: 75%!important;
    padding-top: 50px!important;
  }
  .main-navigation .menu-right .phrase-intro {
    width: 24%!important;
  }
  .main-navigation .nav-menu {
    width: 45%!important;
  }
  body .home-fixe-navigation .nav-menu{
    width: 45%!important;
  }
  .site-branding .article-navigation .nav-menu {
    width: 45%!important;
  }

}
