
/************************** MAGASINS **************************************/


@media (max-width: 768px){
  .mag-main, .magasins{
    flex-direction: column!important;
  }
  .magasin-1{
    flex-direction: column-reverse!important;
  }
  .magasin-2{
    width: 100%!important;
    .photo-magasin{
      margin-top: 10vh;
    }
  }
  .magasin{
    width: 100%!important;
    margin: 0!important;
    padding: 0!important;
    border: none!important;
  }
  .photo-magasin{
    margin-bottom: 10vh;
  }

  .acf-map{
    height: 400px;
    width: 100%;
  }
}


.mag-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  @media (min-width: 769px){
    margin-top: 10vh!important;
  }
  @media (max-width: 768px){
    margin-top: 10vh!important;
  }

  .entry-header{
    width: 100%;
    margin-bottom: 10vh;
  }
}
.magasin-1{
  width: 100%;
  display: flex;
  margin-bottom: 10vh;
  .magasin{
    width: 30%;
    border-right: 0.25px solid $line;
  }
  @media (min-width: 769px){
   .photo-magasin{
    margin-left: 30px;
  }
}

}

.magasin-2{
  width: 100%;
  display: flex;
  margin-bottom: 10vh;
  .magasin{
    width: 30%;
    border-left: 0.25px solid $line;
  }
  @media (min-width: 769px){
   .photo-magasin{
    margin-right: 30px;
  }
  .magasin{
    padding-left: 30px;
  }

}

}


.nom-du-lieu{
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
}
.ville{
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.adresse-horaires{
  p:first-child{
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
  }
  p:last-child{
    font-size: 16px;
    line-height: 18px;
    margin: 10px 0;
  }
}
.tel{
  font-size: 16px;
  font-weight: 400;
  line-height: 43px;
}
.reservation{
  display: flex;
  margin-top: 10px;
  .contacter{
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 1px;
  }
  .photo-magasin{
    width: 70%;
  }
}

.acf-map {
  border: #ccc solid 0.25px;
  margin-bottom: 10vh;
  /* fixes potential theme css conflict */
  .acf-map img {
   max-width: inherit !important;
 }
}




@media (min-width: 769px){
  .acf-map{
    height: 700px;
    width: 100%;
  }
  // .magasin-2{
  //   width: 30%;
  //   height: 230vh;
  //   .magasin{
  //     height: 700px;
  //     margin-left: 30px;
  //     padding-left: 30px;
  //     border-left: 0.25px solid $line;
  //   }
  //   .photo-magasin{
  //     position: absolute;
  //     width: 100%;
  //     left: 0;
  //     margin-top: 10vh;
  //     display: flex;
  //     justify-content: flex-end;
  //   }
  // }

}

@media (min-width: 1800px){
  .site-main{
  //     .magasin-2{
  //       height: 150vh;
  // }
  }

}
