
/*********************** MENTIONS LEGALES **************************/

@media (min-width: 769px){
  .row-infos{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
  }
  .container-mentions{
    margin: 0 15%;
    padding: 19vh 0;
    .mentions-edit{
      border-left: 0.25px solid $line;
      padding-left: 20%;
    }
  }
}

@media (max-width: 768px){
  .container-mentions{
    margin: 0 15px;
    padding: 10vh 0;
    .mentions-area{
      margin-top: 5vh;
      padding-top: 5vh;
      border-top: 0.25px solid $line;

    }
  }
}
.container-mentions{
  .titre-page{
    margin-bottom: 20px;
  }
  .propriete{
    font-family: 'Caslon 540';
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.38px;
    line-height: 25px;
  }
  .proprietaire{
    font-family: 'Caslon 540';
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.35px;
    line-height: 23px;
  }
  .proprietaire, .mentions-name{
    margin-top: 30px;
  }
  .row-infos{
    margin-top: 2em;
  }

  .sous-titre-mentions{
    font-family: "Caslon";
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
  }
  .sous-titre-plan{
    margin-bottom: 0;
  }
  .mentions-name{
    font-family: "Caslon 540";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  .mentions-adress p{
    font-family: "Caslon 540";
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
}

