// GRAPHIC
@import 'src/sass/reset';
@import 'src/sass/fonts';
@import 'src/sass/colors';

// PAGES
@import 'src/sass/home';
@import 'src/sass/article';
@import 'src/sass/category';
@import 'src/sass/apropos';
@import 'src/sass/events';
@import 'src/sass/search';
@import 'src/sass/contact';
@import 'src/sass/magasins';
@import 'src/sass/contributeurs';
@import 'src/sass/mentions';

// ELEMENTS COMMUNS
@import 'src/sass/header';
@import 'src/sass/footer';

// MEDIA QUERIES
@import 'src/sass/tablet';

#progress{
  background-color: black;
  height: 1.5px;
  width: 0;
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 50px;
  z-index: 9999;
}

#progress-bar{
  background-color: black;
  height: 1.5px;
  width: 0;
  position: fixed;
  top: 39px;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

// BASICS
body{
  font-family: 'Caslon'!important;
  color: #000;
  background-color: $global;
}

a, a:hover, a:visited, a:focus, a:active{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

li{
  list-style-type: none;
}

body .seoquake-nofollow{
  text-decoration: none!important;
}

img{
  max-width: 100%;
  // transition: all 0.5s linear;
}



.home{
  .no-results{
    height: 65vh!important;
  }
  .site-content{
    margin-top: 35vh;
  }
}

@media (min-width: 1700px) and (max-width: 2500px){
  .home{
    .site-content{
      margin-top: 30vh!important;
    }
  }
}

@media (min-width: 2500px){
  .home{
    .site-content{
      margin-top: 25vh!important;
    }
  }
}
.no-results{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  margin-top: -10vh;
  .page-content{
    margin: 0;
    p{
      font-style: italic;
      text-align: center;

    }
  }

}

.nav-menu{
  .menu-item{
    a{
      img{
        width: 14px;
      }
    }
  }
}



@media (max-width: 768px){
  .xs-visible{
    display: block;
  }
  .xs-invisible{
    display: none!important;
  }

  .entry-title{
    font-family: 'Caslon';
    text-align: center;
    font-size: 39px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
    margin-top: 10vh;
  }
  .site-main{
    margin: 20vh 15px 0 15px;
  }
  .home-main{
    margin: 0 15px!important;
  }
}


@media (min-width: 769px){
  .xs-visible{
    display: none!important;
  }
  .xs-invisible{
    display: block;
  }

  .entry-title{
    font-family: 'Caslon';
    text-align: center;
    font-size: 68px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    margin-top: 10vh;
  }
  .site-main{
    margin: 20vh 50px 0 50px;
  }
  .home-main{
    margin: 0 50px;
  }
}

.archive-description{
  text-align: center;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

strong {font-weight: bold!important;}
em {font-style: italic!important;}


#titre-post-header{
  display: none;
  top: 0;
}


/******************* PAGE 404 *******************************/
body .not-found-main{
  margin-top: 5vh!important;
}
.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69vh;
  flex-direction: column;
  // @media (max-width: 768px){
  //    height: 60vh;
  // }
  p{
    font-family: 'Caslon';
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
    text-align: center;
  }
  .reservation{
    .resa{
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      font-weight: bold;
      font-style: normal;
      margin-right: 10px;
    }
  }
}


@media (max-width: 768px){
  body .category-main .post .entry-excerpt{
    text-align: center!important;
  }
  .category-main .post .category-date{
    margin-top: 20px!important;
  }
  .evenements .entry-header{
    border-top: none;
  }

  .evenements .entry-header .infos-event h4{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
  }
  .evenements .entry-header .infos-event .event-date{
    font-size: 16px;
  }
  .evenements .entry-header .infos-event .entry-date{
    line-height: 22px;
  }
  .reservation .resa{
    margin-top: 2px;
  }
}



.search-form{
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  input[type="search"]{
    width: 100%;
    border: none;
    border-bottom: 0.25px solid $greyy;
    border-radius:  0;
    background-color:  $global;
    color: $greyy;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Caslon';
  }

  input[type="search"]:focus{
    outline: none;
  }
  .rechercher{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type="submit"]{
    border: none;
    background-color: transparent;
    color: #000;
    text-transform: uppercase;
    font-family: 'Caslon';
    font-size: 18px;
    font-weight: 700;
    padding: 15px 10px 9px 10px;
    outline: none!important;
  }



}

.search-no-found{
    position: absolute;
    bottom: 35vh;
    left: 20%;
    right: 20%;
    background-color: #fbfaf8;
    height: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Caslon';
    font-style: italic;
    display: none;
  }

@media (max-width: 768px){

  [type="search"] {
    -webkit-appearance: none!important;
    outline-offset: 0!important;
}
.searching-main{
  margin-top: 0!important;
}
}
