// GRAPHIC
@import 'src/sass/reset';
@import 'src/sass/fonts';
@import 'src/sass/colors';

// PAGES
@import 'src/sass/home';
@import 'src/sass/article';
@import 'src/sass/category';
@import 'src/sass/apropos';
@import 'src/sass/events';
@import 'src/sass/search';
@import 'src/sass/contact';
@import 'src/sass/magasins';
@import 'src/sass/mentions';

// ELEMENTS COMMUNS
@import 'src/sass/header';
@import 'src/sass/footer';

// MEDIA QUERIES
@import 'src/sass/tablet';

#progress{
  background-color: black;
  height: 1.5px;
  width: 0;
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 50px;
  z-index: 9999;
}

#progress-bar{
  background-color: black;
  height: 1.5px;
  width: 0;
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

// BASICS
body{
  font-family: 'Caslon'!important;
  color: #000;
  background-color: $global;
}

a, a:hover, a:visited, a:focus, a:active{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

li{
  list-style-type: none;
}

body .seoquake-nofollow{
  text-decoration: none!important;
}

img{
  max-width: 100%;
}

.home{
  .no-results{
    height: 65vh!important;
  }
  .site-content{
    margin-top: 35vh;
  }
}

@media (min-width: 1800px){
  .home{
    .site-content{
      margin-top: 25vh!important;
    }
  }
}
.no-results{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  margin-top: -10vh;
  .page-content{
    margin: 0;
    p{
      font-style: italic;
      text-align: center;

    }
  }

}

.nav-menu{
  .menu-item{
    a{
      img{
        width: 14px;
      }
    }
  }
}



@media (max-width: 768px){
  .xs-visible{
    display: block;
  }
  .xs-invisible{
    display: none!important;
  }

  .entry-title{
    font-family: 'Caslon';
    text-align: center;
    font-size: 39px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
    margin-top: 10vh;
  }
  .site-main{
    margin: 20vh 15px 0 15px;
  }
  .home-main{
    margin: 0 15px!important;
  }
}


@media (min-width: 769px){
  .xs-visible{
    display: none!important;
  }
  .xs-invisible{
    display: block;
  }

  .entry-title{
    font-family: 'Caslon';
    text-align: center;
    font-size: 68px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    margin-top: 10vh;
  }
  .site-main{
    margin: 20vh 50px 0 50px;
  }
  .home-main{
    margin: 0 50px;
  }
}

.archive-description{
  text-align: center;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

strong {font-weight: bold!important;}
i, em {font-style: italic!important;}


